%header
 %p グループを作成しました。
.wrapper
 .wrapper__side
  .wrapper__side__header
   %p Aki
   %a.fa.fa-cog
   %a.fa.fa-edit
  .wrapper__side__groups
   .wrapper__side__groups__room
    %h3 独り言
    %p なんだかな〜〜
 .wrapper__main
  .wrapper__main__header
   .wrapper__main__header__contents
    %h2 独り言
    %a Edit
    %p なんだかな〜〜

  .wrapper__main__body
   .wrapper__main__body__chat
    %p.wrapper__main__body__chat_comment_name Aki
    %p.wrapper__main__body__chat_comment_time 2019/02/05(Fri) 18:54:34
    %p.wrapper__main__body__chat_comment_text なんだかな〜〜
   .wrapper__main__body__submit
    .wrapper__main__body__submit__text
     %input(placeholder = "type a message")
     %a.fa.fa-image
    %a.button Send


